{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.favColour) }}
            {{ form_errors(form.favColour) }}
            {{ form_widget(form.favColour) }}
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                {{ form_widget(form.save) }}
            </div>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}